.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  background-image: url(./components/react-logo.svg);
  color: white;
}

.App-link {
  color: #09d3ac;
}

img {
  size: 100%;
}

nav {
  height: 70px;
  width: auto;
  display: flex;
  margin: 0px 50px 0px;
  flex-direction: row;
  justify-content: space-between;
}

main {
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
